
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Bootstrap 4 Login Form</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>
        <div class="container">
          <h1> Sign Up</h1>
          <hr>

            <%= form_for(:session, url: signup_path) do |f| %>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <label class="sr-only" for="">Name</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 6.0rem">Name <i class=""></i></div>

                            <%= f.text_field :name, class: 'form-control', value: '', required: true %>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <label class="sr-only" for="email">E-Mail Address</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                        <div class="input-group-addon" style="width: 6.0rem">Email <i class=""></i></div>

                            <%= f.email_field :email, class: 'form-control', placeholder: 'example@bt.com',required: true %>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <label class="sr-only" for="">Country</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 6.0rem">Country <i class=""></i></div>

                            <%= f.text_field :country, class: 'form-control', value: '', required: true %>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 6.0rem">Password <i class=""></i></div>

                            <%= f.password_field :password, class: 'form-control', value: '', required: true%>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                        <!-- Put password error message here -->
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <%= f.submit "Sign up", class: "btn btn-success" %>
                    <% end %>
                    <a class="btn btn-link" href="/login">Already registered?</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
